<ion-header>
    <ion-row>
      <ion-col text-start padding-top>
        <ion-title>AMEX Business Drive</ion-title>
      </ion-col>
      <ion-col text-end>
        <ion-button routerLink="/login" shape="round" fill="outline">
          <ion-icon slot="start" name="logo-octocat"></ion-icon>
          Log in
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content>
  
    <div>
        <form  #form="ngForm" (ngSubmit)="signUp(form)">
            <ion-grid>
              <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  <div text-center>
                    <h3>Sign Up!</h3>
                  </div>
                  <div padding>
                    <ion-item>
                      <ion-input  name="firstname" type="text" placeholder="First Name" [(ngModel)]="firstName" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input  name="lastname" type="text" placeholder="Last Name" [(ngModel)]="lastName" required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input  name="dateofbirth" type="dateofbirth" placeholder="Date of birth" [(ngModel)]="dateOfBirth" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input  name="phone" type="phone" placeholder="Phone" [(ngModel)]="phone" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input  name="ssn" type="ssn" placeholder="SSN" [(ngModel)]="ssn" required></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="username" type="username" placeholder="Username" [(ngModel)]="username" required></ion-input>
                      </ion-item>
                    <ion-item>
                      <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password" required></ion-input>
                    </ion-item>
                  </div>
                  <div padding>
                    <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Sign Up</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
      </div>
  
  </ion-content>