<ion-header>
  <ion-row>
    <ion-col text-start padding-top>
      <ion-title>AMEX Business Drive</ion-title>
    </ion-col>
    <ion-col text-end>
      <ion-button (click)="loadMap()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Where I Am
      </ion-button>
      <ion-button shape="round" fill="outline" (click)="openModal()" *ngIf="!loggedIn">
        <ion-icon slot="start" name="logo-octocat"></ion-icon>
        Log in
      </ion-button>
      <ion-button shape="round" fill="outline" (click)="logout()" *ngIf="loggedIn">
        <ion-icon slot="start" name="beer"></ion-icon>
        Log out
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>

  <div class="map-wrapper">
    <div #map id="map"></div>
  </div>
</ion-content>